# Python
.venv/
__pycache__/

# Testing
.pytest_cache/
.coverage

# Only include sample data and config for testing
!tests/test_data/*

# MacOS
.DS_Store

# Editor artifacts
.vscode/

# Project-specific
*.DAT
output/
*.json