# Project-specific
*.DAT
output/
*.json
*.bin
*.drm

# Tooling
*.egg-info/
.mypy_cache/
.ruff_cache

# Only include sample data and config for testing
!tests/test_data/*

# Testing
.pytest_cache/
.coverage

# Python
.venv/
__pycache__/

# MacOS
.DS_Store

# Editor artifacts
.vscode/
